@model Serwis.Models.Catalog.ProductDetail

<div class="container">
    <div class="page-header clearfix">
       <h2> Szczegóły produktu</h2>
    </div>
    <div class="jumbotron">
        <div class="row">

            <div class="col-md-4">
                <p id="itemTitle">@Model.ProdId</p>
                <p id="itemTitle">@Model.Name</p>
                <p id="itemTitle">@Model.Category</p>
                <p id="itemTitle">@Model.Description</p>
                <p id="itemTitle">@Model.State</p>
                <p id="itemTitle">@Model.Warranty</p>
                <p id="itemTitle">@Model.Company</p>
                <p id="itemTitle">@Model.Owner</p>
                <p id="itemTitle">@Model.LastCompalain</p>

            </div>

        </div>
    </div>
</div>
